
.mainbody {
    margin: 40px;
}

.bannersection{
    background-image: url('../images/Banner\ Image.png');
    height: auto;
    width: auto;
    margin: 25px;

}
.banner {
    background-color: #06000a7b;
    background-position: center;
    background-repeat: no-repeat;
    align-content: center;
    height: 550px;
    width: 1139px;
    
}
.secondaryheader {
    color: rgb(255, 255, 255);
    text-align: center;
    font-family:DM Serif Display;
    font-size: 32px;
    font-style: bold;
    font-weight: 400;
    width: 300px;
    padding-top: 186px;
    padding-left: 470px;
    padding-bottom: 0px;

}
.primaryheader {
    color: #ffffff;
    text-align: center;
    font-family: DM Serif Display;
    font-size: 45px;
    font-style: bold;
    font-weight: 900;
    width: 690px;
    height: 40px;
    padding-top:auto;
    padding-left: 300px;
    padding-right: 0px;    
}
.secondsection {
    text-align: center;
    margin: 100px;
}
.discountoffer {
    color: red;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 45px;
}
.discdescrip {
    color: red;
    font-size: 13px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.allcat {
    font-weight: 700;
    font-size: 27px;

}
.holidaypar {
    display: inline-flex;
}
.thirdsect {
    background-image: url('../images/Vectorrr.png');
}
.thirdsectdiv {
    display: flex;
    background-color: #00000090;
    justify-content: space-between;
}
.thirddivintodiv {
    color: white;
    padding-top: 45px;
    padding-left: 50px;
}
.thirdsecthding {
    font-size: 45px;
}
.thirdsectpara {
    padding-top: 10px;
    font-size: 17px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
}
.joinnow {
    color: #ffffff;
    font-weight: bold;
    background: #00000000;
    border: none;

}
.fourthsect {
    margin-top: 100px;
    height: 400px;
    background-image:linear-gradient(pink, white);
    border-width: 5px;
}
.fourthsectdiv {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    padding: 100px 90px 130px 90px;
}
.place {
    color: red;
}
.date {
    color: red;  
       
}
.evetime {
    color: red;
    
}
.secondjoinbnt{
    color: white;
    background: red;
    border: none;
    font-weight: bold;
}
.fifthsect{
    margin-top: 80px;
}
.fifthsectdivmain {
    display: flex;
    justify-content:space-between;
}
.fifthdivmaini {
    display: inline-flexbox;
}
.fifthdivmainii{
    padding: 7px;
    width: 235px;
    height: 235px;
    border-radius: 50%;
    border: 7px solid;
    border-color: red;
}

.fifthdvmainimgi{
    width: 200px;
    height: 200px;
}
.fdvmpi{
    color: red;
}
.fdvmheading {
    font-size: 35px;
}
.fdvmii{
    color: red;
    font-size: 24px;
}
.sixsecndvii {
    background-image:url('../images/Rectangle\ 2.png');
    background-position:bottom left;
    background-repeat: no-repeat;
}
.sixsecndviii {
    background-image: url('../images/Rectangle\ 1.png');
    background-position: top right;
    background-repeat: no-repeat;
    display: flex;
}
.sixsecndvi{
    text-align: center;
}
.sixhdvi{
    font-size: 20px;
}
.holidays {
    color: red;
}
.sixp {
    font-weight: bold;
}
.sixsecndviv {
   padding-top: 20px;
   padding-left: 0;
}
.grpii{
    width: 200px;
    height: 200px;
    background-position-x:left ;
}
.grpiii {
    width: 650px;
    height: 657px;
}
.seventhsec {
    width: auto;
    height: auto;
    margin: auto;
}
.sevsecdiv {
    width: 1200px;
    height: fit-content;
}
.sevsecndvi {
    /* text-align: center; */
}
.sevsecndvii {
    display:inline-flexbox;
    margin: auto;
    width: 1200px;
}
.sevsechi {
    font-size: 15px;
    color: red;
}
.sevsechii {
    font-size: 23px;
}
.sevsecp {
    font-size: 13px;

}
.rectthree {
    width: 390px;
    height: 390px;
}
.sevsecpi {
    display: flex;
}
.eightth {
    margin: 60px;
    padding: 25px;
    background-color: antiquewhite;   
}
.eightdv {
    text-align: center;
}
.eightinput {
    width: 200px;
    height: 30px;
    border-top-left-radius: 15%;
    border-bottom-left-radius: 15%;
    border: none;
    background-color: rgb(255, 255, 255);
}
.eightinputi {
    width: 100px;
    height: 35px;
    background-color: red;
    font-weight: bold;
    font-size: large;
    color: white;
    border: none;
    border-top-right-radius: 15%;
    border-bottom-right-radius: 15%;
}
.sectfooter {
    width: auto;
    height: auto;
    margin-top: 50px;
    color: white;
    font-size: 15px;
    padding: 15px;
    background-color: rgb(15, 1, 27);
}
.addressdv {
    display: flex;
    justify-content: space-between;
}
.footercontul> .footercontli {
    list-style: none;
}
.socialdv {
    /* display: flex; */
}
.socialul {
    text-align: center;
}
.socialul> .socialli {
    list-style: none;
    display: inline;
    padding-right: 10px;
}
.allrightdv {
    display: flex;
    justify-content: space-between;
}